<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../build/css/main.css">
    <title>ComputerSpeak</title>
</head>
<body>
    <header><h1>ComputerSpeak</h1></header>
    <main>
        <header class="hidden"><h2>Input and Output Conversion Form</h2></header>
        <form action="{% url 'translate' %}">
            <section>
                <h2>Input</h2>
                    <select name="input_types" id="input_type">
                        <option value="TEXT">Text</option>
                        <option value="OCT">Octal</option>
                        <option value="HEX">Hexidecimal</option>
                        <option value="BIN">Binary</option>
                    </select>
                    <label for="input_type"></label>
                    <div id="input">
                        <input type="text" name="inputText" id="input" value="{{ input_text }}">
                        <label for="input"></label>
                    </div>
            </section>
            <section>
                <h2>Output</h2>
                    <select name="output_types" id="output_type">
                        <option value="OCT">Octal</option>
                        <option value="HEX">Hexidecimal</option>
                        <option value="BIN">Binary</option>
                        <option value="TEXT">Text</option>
                    </select>
                    <label for="output_type"></label>
                    <div class="output">
                        <p>{{ output_text }}</p>
                    </div>
            </section>
            <input type="submit" value="Translate" id="translate">
        </form>
    </main>
    <footer>
        <small>Developed by <a href="#">Darius Strasel</a>
        </small>
    </footer>
</body>
</html>